body {
  margin: 0px;
}

#root {
  background-color: rgb(228, 228, 184);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.Header {
  position: sticky;
  top: 0%;
  height: 80px;
  background-color: rgb(167, 167, 137);
  border-bottom: 12px double rgb(228, 228, 184);
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}

.Footer {
  position: sticky;
  bottom: 0%;
  height: 80px;
  background-color: rgb(167, 167, 137);
  border-top: 12px double rgb(228, 228, 184);
}

.Content {
  min-height: calc(100vh - 184px);
  width: 100vw;
}


label {
  display: inline-block;
  width: 50px;
}

.Menu {
  width: 100vw;
  text-align: center;
  margin: 0px;
}

.Item {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  margin: 10px;
  width: 300px;
  vertical-align: top;
}

.Item h2{
  text-align: left;
}

.Content h1 {
  margin: 0px;
}

.Form {
  margin: auto;
  text-align: center;
}